article.decker {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.4em;
    line-height: 1.6em;

    h1 {
        font-size: 1.6em;
        margin-top: 0px;        
    }

    h2 {
        margin-top: 0px;
    }

    section {
    }
}