article.decker {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  line-height: 1.6em;
}

article.decker h1 {
  font-size: 1.6em;
  margin: 0;
  text-shadow: 0 1px 2px #e8e8e8;
  text-align: center;
}

h2, h3, h4 {
  margin-top: 0px;
  text-shadow: 0 1px 2px #e8e8e8;
}

pre {
  line-height: 1.4em;
}

blockquote {
  background: #e8e8e8;
  margin: 0;
  padding: 15px 30px;
  border-radius: 10px;
}

blockquote p {
  margin: 0;
}
